---

---

<section class="uk-section mb-24 mx-auto w-11/12 max-w-screen-xl">
    <div>
        <h2 class="lg:text-5xl text-4xl text-[#d9974d] font-semibold text-center tracking-wide custom-text-2">Descubriendo Nuestro Viaje</h2>
        <div uk-slider="velocity:1.3; easing: cubic-bezier(.4,0,.2,1)">
            <div class="uk-position-relative">
                <div class="uk-slider-container ">
                    <ul class="uk-slider-items uk-child-width-1-1 ">
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🌍 Capítulo 1: Orígenes en Tepic, México</h3>
                                <p class="custom-text-2 text-black text-lg">Ana Cecilia, una apasionada de los viajes y la educación, nació en Tepic, Nayarit, México. Después de completar su licenciatura en Administración de Negocios en Guadalajara, México, decidió que su destino la llevaría más allá de las fronteras mexicanas.</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🗺️ Capítulo 2: Un Viaje de Idiomas en los Estados Unidos</h3>
                                <p class="custom-text-2 text-black text-lg">En 2013, Ana Cecilia se aventuró a Estados Unidos para un año académico de inmersión en el idioma inglés. Esta experiencia la impulsó a buscar más oportunidades de estudio en el extranjero.</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🇧🇪 Capítulo 3: La Aventura en Bélgica</h3>
                                <p class="custom-text-2 text-black text-lg">En 2014, se encontraba en Bélgica, sumergiéndose en la cultura y el idioma francés. Esta fue la primera parada en su viaje educativo por Europa.</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🎨 Capítulo 4: Italia, Arte e Idioma en Florencia</h3>
                                <p class="custom-text-2 text-black text-lg">En 2021, Ana Cecilia se dirigió a Florencia, Italia, donde exploró su amor por el arte y perfeccionó su italiano mientras estudiaba historia del arte.</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🇪🇸 Capítulo 5: Maestría en Salamanca, España</h3>
                                <p class="custom-text-2 text-black text-lg">El año 2022 marcó un hito importante, ya que Ana Cecilia completó su maestría en negocios en Salamanca, España. Este fue el último paso antes de convertirse en una emprendedora en el mundo de los viajes y los estudios en el extranjero.</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🌟 Capítulo 6: El Nacimiento de Hola Europa</h3>
                                <p class="custom-text-2 text-black text-lg">Comprometida con su pasión por los viajes y la educación, Ana Cecilia fundó Hola Europa en 2022. Su visión era clara: ofrecer experiencias de viaje y estudios personalizados y de calidad en Europa</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🌄 Capítulo 7: La Misión de Hola Europa</h3>
                                <p class="custom-text-2 text-black text-lg">La misión de Hola Europa es diseñar sueños, ofreciendo viajes turísticos personalizados y programas de intercambio lingüístico a Europa.</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🌐 Capítulo 8: Hacia el Futuro</h3>
                                <p class="custom-text-2 text-black text-lg">Hoy, Hola Europa sigue creciendo y cumpliendo los sueños de viaje y estudio de sus clientes. Con el esfuerzo constante por ofrecer experiencias inolvidables y personalizadas en Europa.</p>
                            </div>
                        </li>
                        <li>
                            <div class="uk-container uk-container-small pt-10" uk-slider-parallax="opacity: 0,1,0">
                                <h3 class="custom-text-2 text-black text-2xl">🚀 Capítulo 9: Tu Historia</h3>
                                <p class="custom-text-2 text-black text-lg">En este último capítulo es donde comienza la historia de cada uno de nuestros viajeros, sus experiencias, enseñanzas y vivencias, hacen que el viaje de Hola Europa nunca termine.</p>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-medium" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-medium" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top">
                <li></li>
            </ul>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css">